env
env_old
*.bak
*.pyc
__pycache__
results
# excluding user settings for the GUI frontend
configs/settings.yaml

.venv/
.vscode/
.idea/

build/
dist/
fastsdcpu_pip.egg-info/

key.txt
test.py
test.png
